extends layout

block content
  #landing.container
    .start#start
      button#initviewstats.threebuttons View Stats
      button#initnewquestion.threebuttons New Question
    .newquestion#newquestion
      .backhome
        i.fi-home
      form#Question
        label(for='question') Question
        input#q1.u-full-width.newQuestionField(type='text', name='question', required=true, autofocus=true autocomplete="off")
        label(for='answer') Answer
        input#q2.u-full-width.newQuestionField(type='text', name='answer', required=true, autocomplete="off")
        label(for='option1') Fake answer one (for multiple choice)
        input#q3.u-full-width.newQuestionField(type='text', name='option1', required=true, autocomplete="off")
        label(for='option2') Fake answer two
        input#q4.u-full-width.newQuestionField(type='text', name='option2', required=true autocomplete="off")
        label(for='option3') Fake answer three
        input#q5.u-full-width.newQuestionField(type='text', name='option3', required=true, autocomplete="off")
        label(for='hint') Hint
        input#q6.u-full-width.newQuestionField(type='text', name='hint', required=true, autocomplete="off")
        input#submit(type='submit', value='Submit', tabindex="-1")
    form#tryQuestion
      .backhome
        i.fi-home
      #demoresponse
      input#demoanswer(type='text', autofocus=true, name='demoanswer' placeholder='Type here...')
      input#demoid.hidden(type='text', name='_id', readonly='') 
    #stats
      .backhome
        i.fi-home
      canvas#chart(width='700', height='300')
